@font-face {
  font-family: "SF Pro Text";
  /* tên font mà bạn muốn đặt */
  src: url('fonts/SF-Pro-Text-Regular.otf');
  /* đường dẫn đến file font trong thư mục "fonts" */
}

@font-face {
  font-family: "Gilroy-Medium";
  /* tên font mà bạn muốn đặt */
  src: url('fonts/Gilroy-Medium.ttf');
  /* đường dẫn đến file font trong thư mục "fonts" */
}

.header-section {
  background: var(--Primary-Green, #1AC073);
}

.brand-name {
  font-family: 'Squada One', sans-serif;
  color: #FFF !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.384px;
}

.main-menu-option {
  color: #FFF !important;
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.216px;
}

.header-section-content {
  padding: 115px 0;
}

.header-section-title {
  color: #FFF;
  font-family: "Gilroy-Medium";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-section-description {
  color: #FFF;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.192px;
}

.input-search {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #929292;

  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.144px;
}

.search-bar {
  height: 45px;
}

.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #FFF;
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.192px;
}

.kitchen-section-div-pizza {
  border-bottom-left-radius: 10px;
}

.div-pizza-details {
  background-color: #FFF;
}

.kitchen-section {
  background-color: #F7F8FA;
}

.kitchen-section-title {
  color: #000;

  /* Heading 5/medium */
  font-family: "Gilroy-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 100% */
  letter-spacing: -0.288px;
}

.kitchen-section-sorting {
  color: var(--Text-black-caption, #929292);

  /* Paragraph/regular */
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.192px;
}

.div-filters {
  height: fit-content;
  color: var(--Text-black-caption, #929292);

  /* Paragraph/semibold */
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.192px;
  border-radius: 10px;
  border: 1px solid var(--Text-black-caption, #929292);
  padding: 10px 15px;
}

.div-pizza-details {
  border-radius: 0 0 10px 10px;
}

.pizza-name-price {
  color: var(--Text-Black-Body-caption, #1B1C21);

  /* Paragraph/regular */
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.192px;
}

.pizza-rating-time {
  color: var(--Text-Black-Body-caption, #1B1C21);

  /* Caption/regular */
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
  letter-spacing: -0.144px;
}

.div-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F7F8FA;
  padding: 0px 4px;
  /* Normal outer */
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.btn-load-more {
  color: var(--Text-black-caption, #929292);

  /* Paragraph/regular */
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.192px;
  padding: 13px 40px 13px 19px;
  border-radius: 10px;
  border: 1px solid var(--Secondary-Yello, #F3BA00);
}

.blog-section h2 {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.288px;
}

.blog-section h3 {
  color: var(--Text-Black-Heading-title, #101115);
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.192px;
}

.blog-section p {
  color: var(--Text-Black-Body-caption, #1B1C21);
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: -0.144px;
}

.contact-us-section {
  background: #F7F8FA;
}

.contact-us-section h3 {
  color: #101115;
  font-family: "Gilroy-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.288px;
}

.contact-us-section p {
  color: #1B1C21;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.144px;
}

.contact-us-section input {
  height: 50px;
  padding: 19px 22px 19px 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  color: #929292;
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.192px;
}

.contact-us-section textarea {
  padding: 19px 22px 19px 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  color: #929292;
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.192px;
}

.contact-us-section button {
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  background: #F3BA00;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.192px;
}

.contact-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-section {
  background: #1AC073;
}

.footer-section-line {
  height: 0.5px;
  width: 100%;
  background-color: #FFF;
}

.footer-section-copyright {
  color: var(--White, #FFF);
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.144px;
  margin-bottom: 0;
}

.bag-title {
  background-color: #F6F7F8;
  opacity: 0.5;
}

.home-trending {
  font-family: 'ABeeZee', sans-serif;
  color: #1AC073;
  font-size: 18px;
  font-weight: 400;
}

.famous-tandoor {
  font-family: 'ABeeZee', sans-serif;
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}

.order-title {
  color: #22262A;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.empty-bag-notify {
  color: #929292;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 20px;
}

.pizza-ordered-title {
  color: #262626;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.pizza-ordered-description {
  color: #929292;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.pizza-ordered-price {
  color: #262626;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.quantity-box {
  background-color: #F6F7F8;
}

.quantity-text {
  color: #1AC073;
  font-weight: 800;
}

.quantity-number {
  color: #262626;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.remove-item {
  color: #F20505;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
}

.remove-item:hover {
  color: #e60000;
}

.input-voucher {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #262626;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-redeem {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #1AC073;
  color: #FFF;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 16px;
}

.payment-text {
  color: #262626;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.total-payment-text {
  color: #22262A;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.btn-check-out {
  border-radius: 10px;
  background-color: #1AC073;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  color: #FFF;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  padding: 17px 0;
}

.modal-content-modify {
  padding: 50px 88px;
}

.payment-title {
  color: #1AC073;
  font-family: 'ABeeZee', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
}

.payment-input {
  height: 40px;
  border-radius: 8px;
  background-color: #f5f4f4;
  color: black;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.32px;
  border: none;
}

.payment-input::placeholder {
  color: #bfbfbe;
}

.payment-method {
  color: #1AC073;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.payment-method-option {
  height: 44px;
  color: #223263;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border: none;
}

.payment-method-option:hover {
  background-color: #F0FAF7;
}

.payment-method-option-checked {
  background-color: #F0FAF7;
}

.payment-checkbox {
  border-radius: 3px;
  border: 1px solid var(--gray-light, #DFDEDE);
  width: 18px;
  height: 18px;
}

.btn-payment {
  padding: 10px 70px;
  color: #FFF;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -0.48px;
  border-radius: 8px;
  background-color: #1AC073;
}

.payment-success-text {
  color: #223263;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.div-products-filter {
  background-color: #F6F7F8;
  padding: 20px;
}

.price-ranger-title,
.rating-title {
  color: #22262A;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.price-ranger-price {
  color: #22262A;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.selector ul {
  position: relative;
  display: block;
  overflow: auto;
  min-width: 138px;
  max-height: 200px;
  background: #fff;
  list-style: none;
  white-space: inherit;
  padding-right: 17px;
  width: calc(100% + 17px)
}

.selector li {
  position: relative;
  padding: 3px 20px 3px 25px;
  cursor: pointer
}

.selector li:before {
  position: absolute;
  top: 50%;
  left: 0;
  top: 4px;
  display: inline-block;
  margin-right: 9px;
  width: 17px;
  height: 17px;
  background-color: #f4f4f4;
  border: 1px solid #d5d5d5;
  content: ""
}

.selector li[data-selected="1"]:before {
  border: 1px solid #d7d7d7;
  background-color: #fff
}

.selector li[data-selected="1"]:after {
  position: absolute;
  top: 50%;
  left: 3px;
  top: 11px;
  display: inline-block;
  width: 4px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  background: none;
  color: #39c9a9;
  content: "";
  -webkit-transform: rotate(40deg) translateY(-50%);
  transform: rotate(40deg) translateY(-50%)
}

.selector li:hover {
  color: #aaa
}

.selector li .total {
  position: absolute;
  right: 0;
  color: #d7d7d7
}

.selector .price-slider {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-top: 17px
}

@media (min-width: 768px) {
  .selector .price-slider {
    padding-top: 8px
  }
}

.selector .price-slider:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 0;
  color: #39c9a9;
  content: attr(data-currency);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.selector #slider-range {
  width: 100%;
  border: none;
  background: #e2f7f2;
  height: 3px;
}

@media (min-width: 768px) {
  .selector #slider-range {
    width: 100%
  }
}

.selector .ui-slider-handle {
  border-radius: 50%;
  background-color: #1AC073;
  border: none;
  top: -14px;
  width: 28px;
  height: 28px;
  outline: none
}

@media (min-width: 768px) {
  .selector .ui-slider-handle {
    top: -7px;
    width: 16px;
    height: 16px
  }
}

.selector .ui-slider-range {
  background-color: #1AC073
}

.selector .slider-price {
  position: relative;
  display: inline-block;
  padding: 5px 40px;
  width: 40%;
  background-color: #e2f7f2;
  line-height: 28px;
  text-align: center
}

.selector .slider-price:before {
  position: absolute;
  top: 50%;
  left: 13px;
  margin-top: 0;
  color: #39c9a9;
  content: attr(data-currency);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.selector .show-all {
  position: relative;
  padding-left: 25px;
  color: #39c9a9;
  cursor: pointer;
  line-height: 28px
}

.selector .show-all:after,
.selector .show-all:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -1px;
  color: #39c9a9;
  width: 10px;
  border-bottom: 1px solid
}

.selector .show-all:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.selector.open ul {
  max-height: none
}

.selector.open .show-all:after {
  display: none
}

input[class="rating-checkbox"] {
  width: 25px;
  height: 25px;
}

.div-pizza-details-grey {
  background-color: #F7F8FA;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 1px 0px rgba(187, 187, 187, 0.25);
}

.pagination-bar {
  background-color: #FAFAFB;
}

.page-item-active-modify {
  width: 38px;
  height: 38px;
  color: #FFF;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #1AC073 !important;
  border: none;
  text-align: center;
}

.page-item-modify {
  width: 38px;
  height: 38px;
  color: #22262A;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: #FAFAFB;
  text-align: center;
}